<?xml version="1.0" encoding="UTF-8"?>

<!-- 
 For more information and examples see the Log4j website and wiki: 
 http://logging.apache.org/log4j/1.2/manual.html 
 http://wiki.apache.org/logging-log4j/
 http://wiki.apache.org/logging-log4j/Log4jXmlFormat
-->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<!-- =============== -->
   	<!-- Setup Appenders -->
   	<!-- =============== -->

	<!-- EPS Console Appender -->
   	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
      	<layout class="org.apache.log4j.PatternLayout">
	  <param name="ConversionPattern" value="%d{ABSOLUTE} %p [%t] %c - %m%n"/>
     	</layout>
   	</appender>
   
   	
	
	<!-- =========================================================================== -->
   	<!-- Setup specific Loggers, to override inherited values from the Root Logger -->
   	<!-- =========================================================================== -->

	
	
	<!-- ===================== -->
   	<!-- Setup the Root Logger -->
   	<!-- ===================== -->

   	<root>
	  <priority value="debug"/>
   	</root>
	
</log4j:configuration>
